<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>HINDA LOOMI</title>
    </head>
    <body>
        <h1 align="center">HINDA LOOMI</h1>
        <div id="wrap">
            <ul id="menu">
                <li><a href="?">POPIMAD</a></li>

                <?php if(isset($_SESSION['user'])): ?>
                <li><a href="?page=lisa_pilt">LISA PILT</a></li>
                <li><a href="?page=hinda">HINDA</a></li>
                <li><a href="?page=logout">LOGI VÄLJA</a></li>
                <?php else: ?>
                <li><a href="?page=hinda">HINDA</a></li>
                <li><a href="?page=login">ADMIN</a></li>
                <?php endif; ?>
            </ul>
            <div id="content">